    <section id="downloads">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-heading text-center">Downloads</h2>
                    <h3 class="section-subheading text-muted"><span class="photoplace">PhotoPlace</span> binaries are available at the <a href="https://github.com/jriguera/photoplace/releases">GitHub releases section</a>. Packages with the source code and all the contents of the repo are also available for downloading there.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                        <p class="large text-muted">The latest version is <b><span class="release-latest-version"></span></b> and it was updated <span class="release-latest-time"></span>. Here you can download directly the packages:</p>
                        <ul class="large text-muted">
			  <li>
                              <a href="#" class="btn btn-primary btn-xs active release-latest-exe" role="button"></a>
                              Installer for Windows platforms (Vista, 7, 8).
                          </li>
			  <li>
                              <a href="#" class="btn btn-primary btn-xs active release-latest-deb" role="button"></a>
                              GNU/Linux package for Debian/Ubuntu.
                          </li>
			  <li>
                              <a href="#" class="btn btn-primary btn-xs active release-latest-zip" role="button"></a>
                              Compressed <i>zip</i> binary for Windows platforms (no installer).
                          </li>
			  <li>
                              <a href="#" class="btn btn-primary btn-xs active release-latest-gz" role="button"></a>
                              Compressed <i>tar.gz</i> package for other Linux/UNIX/OSX platforms.
                          </li>
			</ul>
                        <p class="text-muted">On GitHub, across time, all <span class="photoplace">PhotoPlace</span> versions were downloaded <span class="release-downloaded"></span> times.</p>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="col-md-12">
                    <p class="large text-muted">After download the right package for your platform on the previous step, the installation is pretty straight forward; for Windows, just accept the license and click next and next ... -keep calm, there is no malware in the installer-. For Ubuntu/Debian, just click on the file and the official installer should start, otherwise, to install it manually, open a terminal and within the download folder type: <span style="white-space: nowrap;"><b><i>sudo dpkg -i photoplace*.deb; sudo apt-get install -f</i></b></span>.</p>
                </div>
            </div>
        </div>
    </section>
