    <section id="guide" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-heading text-center">Quick Start Guide</h2>
                    <h3 class="section-subheading text-muted">The use of <span class="photoplace">PhotoPlace</span> is pretty easy, let's see how it works if 5 steps ... Apart from this quick guide, you can find more tutorials and information in the <a href="https://github.com/jriguera/photoplace/wiki">wiki of the project at GitHub</a>.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="large text-muted">After download the right package for your platform on the previous step, the installation is pretty straight forward; for Windows, just accept the license and click next and next -keep calm, there is no malware in the installer-. For Ubuntu/Debian, just click on the file and the official installer should start, otherwise, to install it manually, open a terminal and within the download folder type: <b><i>sudo dpkg -i photoplace*.deb</i></b>.
                    </p>
                </div>
            </div>
            </br>
            </br>
            <div class="row">
                <div class="col-md-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/guide/1.png" alt="Main Screen">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1</h4>
                                    <h4 class="subheading">Main Screen</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The window has a toolbar to load a folder with photos and an optional GPX file. Also, you can enable or disable all the plugins. At the bottom there is an output section to see what happens every time you trigger an action. Finally, remind you that all the entries and controls have tooltips defined, so after a while of the mouse over them, more help should be showed.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/guide/2.png" alt="Load Photos">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2</h4>
                                    <h4 class="subheading">Load photos</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Photos are the main meal for PhotoPlace, so click on "Select input photo directory" and provide a folder with images. After loading all the pics, you can go to the tab "Photos" to see all. If you see photos in green, it means they are already geotagged, so you do not need to provide a GPS file to geotag them. Moreover, you can fill in the description and/or title for each photo, then that data will appear next to the photo in the KML Layer.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/guide/3.png" alt="Add Music">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>3</h4>
                                    <h4 class="subheading">Add Music to the Tour</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Now it's time to use the extensions or "Addons", so go to the tab and click on "tour". This plugin is in charge of generating the virtual presentation from above. You can type some introduction and summary text, but the most important feature is the audio: click on "Add" at the bottom -next to "music"- and choose a MP3 file as soundtrack for the presentation.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/guide/4.png" alt="Parameters">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>4</h4>
                                    <h4 class="subheading">Configure the Time and Let's Go!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Going back to the first tab "Main" you have to setup the timezone of your photos. You must take into account also the daylight saving time!, when the photos where taken. Also if you are using a GPX file and your camera was not in correct time, you can define the time offset. Other important parameter is about geotag the photos, it can be disabled, by this way, only a KMZ layer will be generated. Otherwise, you can choose if the original photos already geotagged must be overwritten using the new location. Finally click on <b>Let's Go!</b>.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/guide/6.jpg" alt="Google Earth">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>5</h4>
                                    <h4 class="subheading">Open the file with Google Earth</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After a while the output KML file will be generated next to the folder with the photos. It will contain all the photos scaled to a small size and also the mp3 audio -if you have included one-. By clicking on that file Google Earth should be launched and finally click on <b>Play!</b> -on the left panel- to enjoy the presentation.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

