    <section id="project">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h2 class="section-heading text-center">Project</h2>
                    <h3 class="section-subheading text-muted">
                    <span class="photoplace">PhotoPlace</span> is a desktop program to easily geotag and create a Google Earth layers with your photos. Below you can see the main features of this project:
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-photo fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Geotag your Photos</h4>
                    <p class="text-muted">By providing a GPX document from a GPS device you can geotag all the photos within a folder. Even, by using a CSV plugin it is also posible to import the geodata for the images.</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-location-arrow  fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Create Google Earth Tour</h4>
                    <p class="text-muted">It can generate a KMZ layer for Google Earth, with all photos included. Moreover, you can create a presentation with audio, a virtual tour flying to each image.</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gears  fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Configurable and Extensible</h4>
                    <p class="text-muted">The information displayed is highly configurable with HTML templates and its functionality can be complemented with plugins.</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">OpenSource and Multiplatform</h4>
                    <p class="text-muted">With binaries for Windows and packages for Debian/Ubuntu. Made with Python 2.x you can download and run it directly in the folder.</p>
                </div>
            </div>
        </div>
    </section>

